@keyframes rotate-r {
	from { transform: rotate(0) }
	to { transform: rotate(360deg) }
}

.double-rotation {
	transform-origin: bottom;
	animation-delay: 0s;
}

.double-rotation-core {
	animation-direction: reverse;
	transform-origin: center;
}

.double-rotation, .double-rotation-core {
	animation-duration: 36s;
	animation-name: rotate-r;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-delay: var(--animation-delay);

	.double-rotation-group:hover & {
		animation-play-state: paused;
	}
}
